// ============== General =================
body{
    background-color: #06090e;
}
//=============== Header ==================
.scrolled{
    .header{
        background-color: rgb(0,0,0,0.8);
        transition: 1s;
    }
}
.header{   
    .nav-menu{
        .active{
            font-weight: 900;
            color: #575A4E;
        }
    }
    .searchbar{
        
        svg{
            position: absolute;
            fill: #fff;
            margin-left: 10px;
        }
        input{
            padding-left: 35px;
            background-color: rgb(0,0,0,0.9);
            border-radius: 100px;
            color: #fff;
            min-width: 350px;
            @media (max-width:1024px) {
                min-width: 100%;
            }
        }
    }
    .suggestion{
        max-height: 250px;
        overflow: auto;
        position: absolute;
        top: calc(100px - 50px);
        background-color: #fff;
        z-index: 9999;
        .suggestion-link{
            border-bottom: 1px solid #bdbdbd;
            padding: 10px;
            a{
                color: #000;
                text-decoration: none;
            }
        }
    }

}
#mobile-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
}
//============= Hero =======================
.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal{
    bottom: 0;
    top: auto;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background:#575A4E !important ;
}
.hero {
    position: relative;
    z-index: 1;
    .cover {
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .thumbnail {
        display: flex;
        position: relative;
        height: 100vh;
        z-index: 0;
        &:after{
            content: "" ;
            position: absolute ;
            background-color: rgba(0, 0, 0, 0.5) ;
            left: 0 ;
            right: 0 ;
            top: 0 ;
            bottom: 0 ;
            z-index: 1 ;
            display: block ;
        }
    }
    .overview {
        position: absolute;
        top: 75%;
        transform: translate(0,-50%);
        z-index: 99;
        ul{
            list-style: none;
            display: flex;
            padding-left: 0;
            align-items: center;
            li{
                padding-right: 10px;
                display: flex;
                align-items: center;
                img{
                    max-width: 100px;
                    max-height: 25px;
                    padding-left: 5px;
                    background: #F5C611;
                    margin-left: -5px;
                    z-index: 1;
                }
                .genre {
                    span{
                        background-color:#e90101 ;
                        padding: 5px;
                        border-radius: 5px;
                        margin-right: 10px;
                        &::nth-child(odd){
                            background-color: #F5C611;
                        }
                    }
                }
                .rate {
                    outline: 3px solid;
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                    padding-top: 4px;
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    background: #F5C611;
                    z-index: 2;
                }
            }
        }
    }
    .desc{        
        max-width: 700px;
    }
}


.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }
    figcaption {
        padding: 25px 20px 25px;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(0,0,0,0.5);
            content: '';
            opacity: 0.8;
            z-index: -1;
        }
    }
    .date {
        background-color: #F5C611;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        min-height: 35px;
        min-width: 45px;
        padding: 10px 0;
        position: absolute;
        right: 15px;
        font-weight: bold;
        text-align: center;
        outline: 3px solid;
        text-transform: uppercase;
        top: -25px;
        span {
            display: block;
        }
    }
    h3 {
        display: inline-block;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin-bottom: 5px;
    }
    p {
        font-size: 0.8em;
        line-height: 1.6em;
        margin-bottom: 0px;
    }
    a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
    &:hover {
        img{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    .hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
  
.snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
  
//==================== Movie ===================
#movie{
    margin-top: 100px;
    .list-genres{
        li{
            a{
                position: relative;
                &:after{
                    content: "";
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    background: #fff !important;
                    transition: width 0.3s ease 0s;
                    width: 0;
                }
                &:hover{
                    &:after{
                        width: 40%;
                    }
                }
                &.active{
                    font-weight: 600;
                    color: #575A4E;
                    &:after{
                        width: 40%;
                    }
                }
            }
        }
       
    }
    .card-movie{
        h1{
            position: relative;
            &:after {
                content: '';
                background-color: #fff;
                width: 75%;
                height: 2px;
                display: block;
                position: absolute;
                right: 0;
                top: 15px;
            }
        }
    }
    .snip1556 {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #000000;
        display: inline-block;
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 16px;
        position: relative;
        text-align: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        box-shadow: none !important;
        padding: 30px 30px 0 0;
      }
      
      .snip1556 *,
      .snip1556 *:before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
      }
      
      .snip1556 img {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        max-width: 100%;
        position: relative;
        vertical-align: top;
        height: 140px;
        object-fit: cover;
        width: 100%;
        object-position: center;
      }
      
      .snip1556 figcaption {
        background-color: #333333;
        bottom: 30px;
        left: 30px;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .snip1556 h3 {
        font-size: 12px;
        position: absolute;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        color: #fff;
        left: 100%;
        letter-spacing: 1px;
        margin: 12px 0;
        opacity: 0.8;
        padding: 6px 40px 0 0;
        right: 0;
        text-transform: uppercase;
        top: 0;
        white-space: nowrap;
      }
      
      .snip1556 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      
      .snip1556:hover figcaption,
      .snip1556.hover figcaption {
        background-color: #575A4E;
      }
     
}

//=============== Pagination ===============
.pagination{
    ul{
        li{
            margin: 0 10px;
            color: #fff;
            span{
                background-color: #575A4E;
                padding: 10px 15px;
                border-radius: 100px;
            }
        }
    }
}

// ============ Deatil ==================
#detail{
    .thumbnail{
        height: 100vh;
        overflow: hidden;
        position: relative;
        @media (max-width:676px) {
          height: 100%;
        }
        &::after{
            content: '';
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(6,9,14,1) 100%);
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute ;
            background-color: rgba(0, 0, 0, 0.5) ;
            left: 0 ;
            right: 0 ;
            top: 0 ;
            bottom: 0 ;
            z-index: 1 ;
            display: block ;
        }
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            @media (max-width:676px) {
                position: relative;
                object-fit: contain;
            }
        }
    }
    .cover{
        img{
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            @media (max-width:676px) {
               width: auto;
               height: 300px;
               object-fit: contain;
              }
        }
    }
    .overview {
        margin-top: -50vh !important;
        position: relative;
        z-index: 9;
        @media (max-width:676px) {
            margin-top: -5vh !important;
          }
        @media (min-width:1024px) {
            max-width: 75%;
            margin: 0 auto;
        }
        .cast{
            list-style: none;
            display: flex;
            margin-left: -10px;
            padding-left:0;
            flex-flow: row wrap;
            li{
                margin-left: 15px;
                text-align: center;
                width: 80px;
                img{
                    width: 80px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                }
                p{
                    padding: 0;
                    line-height: 20px;
                    font-size: 0.8rem;
                }               
            }
            button{
                width: 80px;
                height: 100px;  
                background-color: #989898; 
                padding: 10px;
            }
        }

    }
    .rating{
        padding-right: 10px;
        display: flex;
        align-items: center;
        img{
            max-width: 100px;
            max-height: 25px;
            padding-left: 5px;
            background: #F5C611;
            margin-left: -5px;
            z-index: 1;
        }
        .rate {
            outline: 3px solid;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            padding-top: 4px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            background: #F5C611;
            z-index: 2;
        }
    }
    .genre {
        span{
            background-color:#e90101 ;
            padding: 5px;
            border-radius: 5px;
            margin-right: 10px;
            &:nth-child(odd){
                background-color: #F5C611;
            }
        }
    }
   
}

#loading{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    
}
#loading_section{
    margin: 50px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
.scrolled{
    .aside {
        position: fixed;
        z-index: 99;
        background-color: #06090e;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        height: auto;
        width: 15.666667%;
        transition: 1s;
    }
    .content {
        margin-left: 16.666667%;
    }
}
.not-found{
    flex-direction: column;
    svg{
        max-height: 500px;
        margin-bottom: 50px;
    }
}