@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  h1,h2,h3,h4,h5 {
    font-family: 'Nunito', sans-serif;
  }
  a,p,button,span,label{
    font-family: 'Work Sans', sans-serif;
  }
}
@layer components{
  
}